.App {
  text-align: center;
  background-color: #fdcf94;
  height: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


/*.App-header {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}*/

.container {
  display: flex;
}

ul {
  list-style: none;
}

.rojo {
  background-color: red;
}

.tachado {
  text-decoration: line-through;
}

img {
  height: 300px;
  width: auto;
}